<!--**********************************
    Sidebar
***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Homepage</li>
            <li class="menu1">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li class="menu1.1"><a href="./index.html">View Dashboard</a></li>
                </ul>
            </li>
            <li class="menu2">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Jobs</span>
                </a>
                <ul aria-expanded="false">
                    <li class="menu2.1"><a href="./AllJob">All Jobs</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i> <span class="nav-text">Query Report</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="./email-inbox.html">All Query Report</a></li>
                </ul>
            </li>
            <li class="nav-label">Other</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon menu-icon"></i><span class="nav-text">Legislation</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="~/Legislation/Legislation">View Legislation</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Admin</span>
                </a>
                <ul aria-expanded="false">

                    <li><a href="~/Admin/Employees">Employees</a></li>
                    <li><a href="~/Admin/ProductDatabase">Product Database</a></li>
                    <li><a href="~/Admin/Tables">Tables</a></li>
                    <li><a href="./app-calender.html">History Trail</a></li>
                    <li><a href="./app-calender.html">Reports</a></li>

                </ul>
            </li>

        </ul>
    </div>
</div>
