
@{
    ViewBag.Title = "EmployeeViewAll";
    Layout = null;
}


<table id="tblEmployeeViewAll" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>User Access</th>
            <th>Date of Creation</th>
            <th>UserName</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Manager?</th>
            <th>Editorial Contact?</th>
            <th>Email List?</th>
            <th>Mandatory Receipient?</th>
            <th>Show User?</th>
            <th>Password Update</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
