
@{
    ViewBag.Title = "ManuscriptViewAll";
    Layout = null;
}

<table id="tblProductManuscript" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Owner User ID</th>
            <th>Legal Editor</th>
            <th>Original ID</th>
            <th>BPS Product ID</th>
            <th>Product Name</th>
            <th>Charge Code</th>
            @*<th>Target Press Date</th>
            <th>Revised Press Date</th>
            <th>Month</th>
            <th>Tier</th>
            <th>Team</th>
            <th>Service Number</th>
            <th>Charge Type</th>
            <th>BPS Sublist</th>
            <th>Reason for revised press date</th>
            <th>is SPI?</th>
            <th>Service Update</th>
            <th>Forecast Pages</th>
            <th>Actual Pages</th>*@
        </tr>
    </thead>
</table>

